@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    font-family: 'Poppins', sans-serif;
}
.btn{
    text-transform: uppercase;
    padding: 13px 40px;
    transition: 100ms ease;
    border-radius: 5px;
}
.btn:hover{
    background-color: #fff;
    color: black;
    font-weight: 900;
}
.nav{
    background-image: linear-gradient(to right top, #004bbc, #0044ce, #003ade, #002bec, #3005f8);
    height: 60%;
    padding: 6% 0;
}
.sagor2{
     transition: 1.1s ease;
    
}
.imran:hover .sagor2{
    transform: scale(1.2);
}
 .sagorr{
     transition: 1.1s ease;
   
} 
.auntor:hover .sagorr{
    transform: rotateX(-200deg) scale(1.3);
    border-radius: 20px;
    box-shadow: 4px 4px 2px 9px blueviolet;
} 
li{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    margin: 40px 10px;
    list-style: none;
    transition: 500ms;
    text-transform: uppercase;
}
li:hover{
    transform: rotate(560deg);
}